<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958625679906-61b30p61dur7mstage0jjt96rhlqaprv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958625679906-61b30p61dur7mstage0jjt96rhlqaprv</string>
	<key>API_KEY</key>
	<string>AIzaSyAAFup6xcGJm2o7iC4HaYBH4yiBFeYDXQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>958625679906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-tutorial-ed4ac</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-tutorial-ed4ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958625679906:ios:0d4e6988abaca96ba1987b</string>
</dict>
</plist>